extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare in augue et ultrices. Pellentesque a venenatis justo, vestibulum mollis justo. Morbi ac est augue. Phasellus auctor porta efficitur. Aenean dui velit, cursus condimentum tempor nec, tempor sed purus. Cras eget risus sollicitudin, imperdiet augue nec
                p Ut sit amet maximus purus, nec dictum enim. Vivamus sed convallis urna, vel dapibus velit. Integer vestibulum mauris at nunc sagittis, quis dignissim sem mattis. In mollis id ante at rhoncus.Cras condimentum vulputate mattis.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Mrzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales