extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam pretium ultricies. Nullam consequat euismod lacus ac auctor. Praesent vitae dui eget felis mattis consequat. Suspendisse lobortis nulla id scelerisque dictum. Vivamus dictum imperdiet erat sit amet placerat.

                p Mauris ut varius nibh. Vestibulum rhoncus sit amet massa id tempus. Pellentesque sit amet vestibulum nibh. Nulla facilisi. Proin id malesuada nisi, vel dictum augue. Aliquam pellentesque egestas nulla, non dictum nibh. Duis at semper erat.

                p In laoreet a neque et eleifend. Mauris tristique risus sem, eu volutpat mi bibendum varius. Cras id blandit arcu, ut lobortis orci. Pellentesque quis odio maximus, malesuada lorem vel, faucibus est. Maecenas eget arcu urna. Etiam et nunc ac enim malesuada tincidunt et eget metus. Proin auctor nisl sed orci vehicula tincidunt. Maecenas at lectus ante. In eget ligula dictum, accumsan arcu a, euismod urna.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas eget arcu urna. Etiam et nunc ac enim malesuada tincidunt et eget metus. Proin auctor nisl sed orci vehicula tincidunt. Maecenas at lectus ante. In eget ligula dictum, accumsan arcu a, euismod urna.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Maecenas eget arcu urna. Etiam et nunc ac enim malesuada tincidunt et eget metus. Proin auctor nisl sed orci vehicula tincidunt. Maecenas at lectus ante. In eget ligula dictum, accumsan arcu a, euismod urna.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Maecenas eget arcu urna. Etiam et nunc ac enim malesuada tincidunt et eget metus. Proin auctor nisl sed orci vehicula tincidunt. Maecenas at lectus ante. In eget ligula dictum, accumsan arcu a, euismod urna. 